In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
df = pd.read_csv("../data/transformed/transformed_finance_data.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32424 entries, 0 to 32423
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   user_id                      32424 non-null  object
 1   age                          32424 non-null  int64
 2   gender                       32424 non-null  object
 3   education_level              32424 non-null  object
 4   employment_status            32424 non-null  object
 5   job_title                    32424 non-null  object
 6   monthly_income_usd           32424 non-null  float64
 7   monthly_expenses_usd         32424 non-null  float64
 8   savings_usd                  32424 non-null  float64
 9   has_loan                     32424 non-null  object
 10  loan_type                    12995 non-null  object
 11  loan_amount_usd              32424 non-null  float64
 12  loan_term_months             32424 non-null  int64
 13  monthly_emi_usd              32424 non-null  float64
 14  loan_interest_rate_pct       32424 non-null  float64
 15  debt_to_income_ratio         32424 non-null  float64
 16  credit_score                 32424 non-null  int64
 17  savings_to_income_ratio      32424 non-null  float64
 18  region                       32424 non-null  object
 19  record_date                  32424 non-null  object
 20  record_year                  32424 non-null  int64
 21  record_month                 32424 non-null  int64
 22  record_day                   32424 non-null  int64
 23  record_weekday               32424 non-null  int64
 24  record_quarter               32424 non-null  int64
 25  record_is_month_end          32424 non-null  int64
 26  net_income_usd               32424 non-null  float64
 27  expense_ratio                32424 non-null  float64
 28  emi_to_income_ratio          32424 non-null  float64
 29  savings_rate_monthly         32424 non-null  float64
 30  debt_to_income_ratio_filled  32424 non-null  float64
 31  credit_bucket                32424 non-null  object
 32  loan_term_years              32424 non-null  float64
 33  loan_active                  32424 non-null  int64
 34  financial_stress_score       32424 non-null  float64
dtypes: float64(15), int64(10), object(10)
memory usage: 8.7+ MB